# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
COSMOSDB_PRIMARY_CONNECTION_STRING=connection-string

LOGIN_DISABLED=False
GITHUB_OAUTH_CLIENT_ID=github-oauth-client-id
GITHUB_OAUTH_CLIENT_SECRET=github-oauth-client-secret
GITHUB_OAUTH_REDIRECT_URI=http://localhost:5000/login/callback

# Terraform variables
TF_VAR_secret_key=secret-key
TF_VAR_github_oauth_client_id=github-oauth-client-id
TF_VAR_github_oauth_client_secret=github-oauth-client-secret
TF_VAR_prefix=dev