{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  {% if view_model.is_writer %}
    <h2>Add item</h2>
    <form method="POST" action="add">
      <label for="new-item">New entry: </label>
      <input id="new-item" type="text" name="new-item" required />
      <button type="submit">Submit</button>
    </form>
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <h2>To do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.to_do_items %}
        <li>
          {{ item.name }}
          {% if view_model.is_writer %}
            <form method="POST" action='{{ url_for("doing", id=item.id) }}' style="display: inline">
              <button type="submit" class="button" >Doing</button>
            </form>
            <form method="POST" action='{{ url_for("complete", id=item.id) }}' style="display: inline">
              <button type="submit" class="button" >Complete</button>
            </form>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Doing</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
        <li>
          {{ item.name }}
          {% if view_model.is_writer %}
            <form method="POST" action='{{ url_for("to_do", id=item.id) }}' style="display: inline">
              <button type="submit" class="button" >To do</button>
            </form>
            <form method="POST" action='{{ url_for("complete", id=item.id) }}' style="display: inline">
              <button type="submit" class="button" >Complete</button>
            </form>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}