{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <h2>Add item</h2>
  <form method="POST" action="add">
    <label for="new-item">New entry: </label>
    <input id="new-item" type="text" name="new-item" required />
    <button type="submit">Submit</button>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.items %}
        <li>
          <form method="POST" action='{{ url_for("complete", id=item.id) }}'>
            {{ item.name }}
            <button type="submit" class="button" >Complete</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}